@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext");
* { box-sizing: border-box; }

body { font-family: "Montserrat", sans-serif; color: #fff; background: #f7f7f7; }

body, figure { margin: 0; padding: 0; }

.flex--center, .section-header__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.color--brown { color: #b88b58; }

.color--pale { color: #aeaeae; }

.button { color: #fff; text-transform: uppercase; font-size: 12px; font-weight: bold; border: none; margin: 20px; padding: 15px 50px; border-radius: 20px; }

.button:hover { cursor: pointer; background: #000; transition: 0.6s; }

.button:focus { outline: none; }

.button--brown { background: #b88b58; }

.section-header__wrapper { text-align: center; }

.section-title { text-transform: uppercase; font-size: 30px; font-weight: bold; line-height: 35px; }

.color--black { color: #000; }

.section-subtitle { display: block; font-size: 14px; text-transform: uppercase; font-weight: bold; }

.text-wrapper { color: #000; font-size: 14px; margin: 0; padding: 20px; line-height: 24px; }

.container { max-width: 1200px; margin: 0 auto; padding: 5vh 0; }

.home { background: url("../images/Home-bg.jpg") no-repeat center; background-size: cover; height: 100vh; position: relative; }

.home .home-nav { background: #000; }

.home .home-nav .container--nav { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0; }

.home .home-nav .container--nav .home-nav__icon { padding: 10px; }

.home .home-nav .container--nav .home-nav__list { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0; padding: 0; list-style-type: none; }

.home .home-nav .container--nav .home-nav__item { position: relative; margin: 10px; }

.home .home-nav .container--nav .home-nav__item::after { content: ""; position: absolute; width: 95%; margin-top: 25px; border: 2px solid #b88b58; display: block; transition: opacity 0.4s ease; opacity: 0; }

.home .home-nav .container--nav .home-nav__item:hover::after { opacity: 1; }

.home .home-nav .container--nav .home-nav__link { text-decoration: none; text-transform: uppercase; color: #fff; font-weight: bold; }

.home .container--slogan { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; text-transform: uppercase; }

.home .container--slogan .slogan-header { margin: 10px; font-size: 4.5rem; line-height: 70px; }

.home .container--slogan .slogan-subtitle { font-size: 24px; font-weight: 600; margin: 10px; }

.home .dots-wrapper { display: -ms-flexbox; display: flex; position: absolute; bottom: 5%; left: 50%; transform: translate(-50%, -50%); }

.home .dots-wrapper .dot-element { width: 20px; height: 20px; margin: 10px; border-radius: 50%; border: 2px solid #b88b58; }

.about { min-height: 530px; }

.about .about-content__wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.about .about-content__wrapper .about__text-wrapper { width: 54%; }

.about .about-content__wrapper .about__button { margin-left: 0; }

.about .about-content__wrapper .image-wrapper { box-shadow: 0 20px 80px 0 #5a5a5a; }

.about .about-content__wrapper .image-wrapper .video-img { max-height: 275px; width: 100%; vertical-align: middle; }

.services { min-height: 415px; background: #000; }

.services .content-wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.services .content-wrapper .content-column { -ms-flex: 1; flex: 1; -ms-flex-item-align: baseline; align-self: baseline; text-align: center; padding: 20px; }

.services .content-wrapper .content-column .services-subtitle { font-size: 16px; }

.projects { min-height: 950px; }

.projects .projects-menu__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-align: center; align-items: center; background: #ededed; border-radius: 20px; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 730px; margin: 2vh auto; }

.projects .projects-menu__element { -ms-flex: 1; flex: 1; text-transform: uppercase; text-decoration: none; text-align: center; color: #000; padding: 20px; position: relative; border: 1px solid #cfcfcf; }

.projects .projects-menu__element:first-child { border-radius: 20px 0 0 20px; }

.projects .projects-menu__element:last-child { border-radius: 0 20px 20px 0; }

.projects .projects-menu__element::after { content: ""; position: absolute; left: 0; bottom: 0; width: -webkit-fill-available; width: -moz-available; width: stretch; display: block; border: 2px solid #b88b58; margin: 0 15px; transition: opacity 0.4s ease; opacity: 0; }

.projects .projects-menu__element:hover::after { opacity: 1; }

.projects .projects-gallery__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.projects .projects-gallery__element { margin: 20px; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; position: relative; overflow: hidden; }

.projects .projects-gallery__element:hover .gallery__layer { top: 0; transition: 1.5s; }

.projects .gallery__image { vertical-align: middle; }

.projects .gallery__layer { position: absolute; top: 100%; width: 100%; height: 100%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; background: #000; opacity: 0.8; font-size: 14px; }

.team { min-height: 700px; background: url("../images/OurTeam-bg-.jpg") no-repeat center; background-size: cover; }

.team .team-content__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.team .team-content__column { background: #fff; padding: 5vh; text-align: center; }

.team .team-content__column .column-header { text-transform: uppercase; margin-top: 20px; margin-bottom: 5px; }

.team .team-content__column .column-icon__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding-top: 20px; }

.team .team-content__column .column-icon__wrapper .icon { width: 30px; height: 30px; background: #bebebe; color: #fff; text-decoration: none; padding: 5px; margin: 5px; border-radius: 50%; }

.team .team-content__column .column-icon__wrapper .icon:hover { background: #b88b58; transition: 0.6s; }
