* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#home {
  background: url("../images/Home-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.home-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: aquamarine;
}
