@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext");

* {
  box-sizing: border-box;
}

body {
  @extend .margin-padding--reset;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

$brown-color: #b88b58;
$pale-color: #aeaeae;
$grey-background: #f7f7f7;

.margin-padding--reset {
  margin: 0;
  padding: 0;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brown-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: none;
  background: $brown-color;
  margin: 20px;
  padding: 15px 50px;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background: #000;
    transition: 0.6s;
  }
}

.section-header__wrapper {
  @extend .flex--center;
  text-align: center;
  padding-top: 50px;
}

.section-title {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
  color: $pale-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#home {
  background: url("../images/Home-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  .home-nav {
    background: #000;
    .container--nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .home-nav__icon {
        padding: 10px;
      }
      .home-nav__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @extend .margin-padding--reset;
        list-style-type: none;
      }
      .home-nav__item {
        position: relative;
        margin: 10px;
        &:hover::after {
          content: "";
          position: absolute;
          width: 95%;
          margin-top: 25px;
          border: 2px solid $brown-color;
          display: block;
        }
      }
      .home-nav__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .container--slogan {
    height: 85%;
    @extend .flex--center;
    flex-direction: column;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    .home-slogan {
      margin: 10px;
      font-size: 4.5rem;
      line-height: 70px;
    }
    .home-slogan--color-brown {
      color: $brown-color;
    }
    .home-subtitle {
      font-size: 24px;
      font-weight: 600;
      margin: 10px;
    }
    .home-button {
      @extend .brown-button;
    }
    .dots-wrapper {
      @extend .flex--center;
      position: absolute;
      bottom: 0;
      .dot-element {
        width: 20px;
        height: 20px;
        margin: 10px;
        border-radius: 50%;
        border: 2px solid $brown-color;
      }
    }
  }
}
#about {
  min-height: 530px;
  background: $grey-background;
  .about-header__wrapper {
    @extend .section-header__wrapper;
    .about__title {
      @extend .section-title;
    }
    .about__title--pale {
      @extend .section-subtitle;
    }
  }
  .about-content__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .wrapper-box {
      width: 54%;
      .box-text {
        color: #000;
        font-size: 14px;
        margin: 0;
        padding: 20px;
        line-height: 24px;
      }
      .box-button {
        @extend .brown-button;
        margin-top: 15px;
      }
    }
    .image-wrapper {
      box-shadow: 0 20px 80px 0 #5a5a5a;
      .video-img {
        max-height: 275px;
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}
